.container {
    font-family: 'Pixelify Sans';
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.view {
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
}

.fallback {
    opacity: 0;
}
