
/* give viewport bigger hitbox */

.container {
    aspect-ratio: 2.5 / 3.5;
}

.background {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: #80b;

    overflow: hidden;
    border-radius: var(--border);

    & .iridescent {
        --parallax: -3;
        --extent: -500%;

        --iridescence-opacity: 0.3;
        --iridescence-opacity-hover: 0.5;

        z-index: 50;
        pointer-events: none;

        mix-blend-mode: screen;
        opacity: var(--iridescence-opacity);
        background: radial-gradient(circle at 55% 50%,
            rgb(var(--color1)) 0%,
            rgb(var(--color2)) 5%,
            rgb(var(--color3)) 10%,
            rgb(var(--color4)) 15%,
            rgb(var(--color5)) 20%,
            rgb(var(--color6)) 25%,
            rgb(var(--color7)) 30%,
            rgb(var(--color1)) 35%
        );

        .viewport:hover & {
            opacity: var(--iridescence-opacity-hover);
        }
    }

    & .checkerboard {
        --extent: -25%;
        --parallax: -0.25;
        content: "";
        mix-blend-mode: overlay;
        background: repeating-conic-gradient(
            rgba(var(--bg), 50%) 0% 25%,
            rgba(var(--fg), 0%) 0% 50%
        ) 50% / 15px 15px;
        transition-property: scale translate;

        .viewport:hover & {
            scale: 0.9;
        }
    }

    & .shadow {
        --extent: 0;
        box-shadow: inset 0px 0px 50px -10px rgb(var(--bg));
        opacity: 0.3;
        transition-property: opacity;
        mix-blend-mode: color-burn;
    }

}

.border {
    --extent: 5px;
    position: absolute;
    bottom: calc(-1 * var(--extent));
    left: calc(-1 * var(--extent));
    top: calc(-1 * var(--extent));
    right: calc(-1 * var(--extent));

    border: 0px solid rgba(var(--fg), 50%);
    border-radius: calc(var(--extent) + var(--border));

    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    transition-property: border;

    .viewport:hover & {
        border: 2px solid rgba(var(--fg), 66%);
    }
    .viewport:active & {
        transform: scale(0.985);
    }
}

.childContainer {
    transform-style: preserve-3d;
}
